<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://ap-cdbr-azure-southeast-b.cloudapp.net:3306/TestBookShop</property>
  <property name="hibernate.connection.username">b3714a3b65991b</property>
  <property name="hibernate.connection.password">3fa40d37</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.default_schema">TestBookShop</property>
  <property name="show_sql">true</property>
  <mapping resource="WEB-INF/classes/book.hbm.xml"></mapping>
</session-factory>
</hibernate-configuration>